/*
==============================================
mobile menu
=============================================
*/

.navbar-header {
    position: relative;
}

#mobile-nav #mobile-nav-content .nav {
    display: block;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    /* hide mobile nav open button */
    display: none;

}

#mobile-nav {

    width: 100%;
    /* by default mobile nav will be hidden */
    /* height:100%; */
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#mobile-nav-content {

    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {

    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}

/* mobile nav scroll spy active state */
.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}

/*
==============================================
bootstrap media queries
=============================================
*/
/* Large devices (desktop & laptop) */
@media(min-width:1200px) and (max-width:1299px) {

    /* navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
}

/* medium devices(landscape tablets& medium desktop) */
@media(min-width:992px) and (max-width:1199px) {

    /* navigation */
    .site-nav-wrapper {
        padding: 0;
    }

    /* generic */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* services 02 */
    #services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }

    .service-tab p {
        line-height: 20px;
    }
}

/* small devices (Portrait Tablets and small desktop) */
@media(min-width:768px) and (max-width:991px) {

    /* navigation */
    .site-nav-wrapper {
        padding: 0;
    }

    /* home */
    #home-heading h1 {
        font-size: 41px;
    }

    #home-text p {
        font-size: 13px;
    }

    /* generic */
    .btn-general {
        padding: 8px 35px 8px 35px;
        font-size: 10px;
    }

    /* generic */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* tech statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* services 02 */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    /* Tab active state */
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        transition: border-color .3s linear;
    }

    /* pricing */
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
        font-size: 35px;
    }

    /* stats */
    .stats-item p {
        line-height: 18px;
    }

    /* blog */
    .blog-post .post-meta p {
        line-height: 14px;
    }

    /* contact */
    ul.office-details li {
        margin-right: 15px;
    }

    ul.office-details li i {
        width: 25px;
    }
}

/* extra small devices (landscape phones & portrait tablets) */
@media(max-width:767px) {

    /* navigation */
    .navbar.white-nav-top {
        padding: 20px 10px;
    }


    /* home */
    #home-heading h1 {
        font-size: 22px;
    }

    #home-text p {
        font-size: 13px;
        line-height: 18px;
        margin: 8px 2px 30px 2px;
    }

    /* generic */
    .btn-general {
        padding: 8px 25px 6px 25px;
        font-size: 10px;
    }

    /* about 01 */
    /* large content box */
    .content-box-lg {
        padding: 90px 0;
    }

    /* vertical heading */
    .vertical-heading {
        text-align: center;
    }

    .vertical-heading h5 {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        display: block;
        position: static;
        margin-bottom: 15px;
    }

    .vertical-heading h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0
    }

    #about-left {
        margin-bottom: 50px;
    }

    #about-right {
        text-align: center;
    }

    /* about 02 */
    /* medium content box */
    .content-box-md {
        padding: 80px 0;
    }

    .about-item {
        padding: 55px 30px;
        bottom: 35px;
    }

    .about-item i {
        font-size: 30px;
    }

    .about-item h3 {
        font-size: 18px;
    }

    /* team */
    .team-left .vertical-heading {
        min-height: 130px;
    }

    .skill h4 {
        font-size: 14px;
        line-height: 35px;
    }

    /* tech statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* services 01 */
    /* horizontal heading */
    .horizontal-heading {
        margin-bottom: 40px;
    }

    .horizontal-heading h2 {
        font-size: 30px;
    }

    #services-01 img {
        margin: 35px 0;
    }

    .service,
    .service .icon {
        text-align: center;
    }

    .service h4 {
        font-size: 18px;
    }

    /* services 02 */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    /* Tab active state */
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #f4c613;
        font-weight: 700;
        border-bottom: 3px solid #f4c613;
        transition: border-color .3s linear;
    }

    #services-tabs .tab-bg {
        text-align: center;
        padding: 40px 30px;
    }

    #services-tabs h2 {
        font-size: 40px;
    }

    #services-tabs h3 {
        font-size: 28px;
    }

    /* portfolio */
    #portfolio {
        padding-bottom: 0;
    }

    #isotope-filters button {
        padding-right: 15px;
    }

    /* testimonial */
    #testimonials {
        padding-top: 45px;
    }

    #testimonial-slider {
        top: 0;
    }

    #testimonials .vertical-heading {
        padding: 0;
    }

    .testimonial .row {
        margin: 0;
    }

    .testimonial h3 {
        font-size: 20px;
    }

    .testimonial .stars {
        font-size: 16px;
    }

    .author img {
        width: 80px !important;
    }

    /* pricing */
    .pricing-table {
        margin-bottom: 30px;
    }

    .pricing-table .price h2 {
        font-size: 28px;
        margin: 0 0 0 16px;
    }

    /* stats */
    .stats-item {
        margin-bottom: 20px;
        padding: 25px 5px;
    }

    .stats-item i {
        font-size: 30px;
    }

    .stats-item h3 {
        font-size: 24px;
    }

    /* blog */
    #blog-left {
        text-align: center;
        margin-bottom: 30px;
    }

    .blog-post {
        margin-bottom: 25px;
    }

    /* contact */
    #contact-left {
        text-align: center;
    }

    .office {
        margin-bottom: 40px;
    }

    ul.office-details li {
        display: block;
        margin-top: 25px;
    }

    ul.office-details li i {
        width: auto;
        display: block;
        margin-bottom: 3px;
    }

    ul.social-list {
        margin-bottom: 40px;
    }
}

/* extra small devices (portrait phones & small devices) */
@media(max-width:480px) {

    /* home */
    #home-heading h1 {
        font-size: 18px;
    }

    #home-text p {
        font-size: 11px;
        line-height: 16px;
        margin: 8px 10px 25px 10px;
    }

    /* generic */
    .vertical-heading h2 {
        font-size: 22px;
    }

    /* portfolio */
    #isotope-filters {
        text-align: center;
    }

    #isotope-filters button {
        font-size: 10px;
        padding-right: 14px;
    }

    /* testimonials */
    .testimonial h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .testimonial .stars {
        font-size: 13px;
    }
}

/* extra small devices */
/* testimonials */
@media(max-width:320px) {
    .testimonial h3 {
        font-size: 12px;
        line-height: 16px;
    }

    .testimonial .stars {
        font-size: 10px;
    }
}

@media(max-width:767px) {

    /* show mobile nav open btn */
    #mobile-nav-open-btn {
        display: block;
        position: absolute;
        right: 7%;
        top: 20%;
    }

    .navbar {
        padding: 25px 12px;
    }

    .navbar-brand {
        padding: 0 10px;
    }
}